<div class="row">
     <div class="col-md-6 col-sm-6 col-xs-6 text-left customer-info"> 
                   <p ng-if="member"> Signed in: <span class="highlight">{{member.first_name}} {{member.last_name}}</span></p>
        </div> 
        <div class="col-md-6 col-sm-6 col-xs-6 text-right customer-info"> 
                   <p ng-if="productsList"><a href="http://sunset.local/#/productsList"><i class="fa fa-shopping-cart"></i></a>: <span class="highlight">{{productsList.length}}</span></p>
        </div> 
</div>
<div class="row container inside-container ng-scope" > 
    <div class="col-md-12 col-xs-12"> 
        <p> Coming soon </p> 
    </div> 
</div>