
<div class="row inside-container" ng-controller="LoginController"> 
	<div class="col-md-3"> 
		<h2 class="medium">Create Account</h2> 
		<span class="error">{{error}}</span>
		<div class="panel panel-default login-panel"> 
			<div class="panel-heading">Sign up Form </div> 
			<div class="panel-body"> 
				<form > 
				
					<p class="form-group" > 
						<label for="loginCompany">Company Name</label> 
						<input id="loginCompany" required name="company" type="text" ng-model="signup.company" class="form-control" placeholder="Company">
					</p> 
					<p class="form-group" > 
						<label for="loginCompany">Contact First Name</label> 
						<input id="loginFname" required name="fname" type="text" ng-model="signup.fname" class="form-control" placeholder="First Name">
					</p> 
					<p class="form-group" > 
						<label for="loginCompany">Contact Last Name</label> 
						<input id="loginLname" required name="lname" type="text" ng-model="signup.tel" class="form-control" placeholder="First Name">
					</p> 
					<p class="form-group" > 
						<label for="address">Address</label> 
						<input id="address" required name="address" type="text" ng-model="signup.address" class="form-control" placeholder="Address">
					</p> 
					<p class="form-group" > 
						<label for="address2">Unit, Apt, etc</label> 
						<input id="address2"  name="address2" type="text" ng-model="signup.address2" class="form-control" placeholder="Unit, Apt, etc">
					</p> 
					<p class="form-group" > 
						<label for="city">City</label> 
						<input id="city"  required name="city" type="text" ng-model="signup.city" class="form-control" placeholder="City">
					</p> 
					<p class="form-group" > 
						<label for="prov">Province</label> 
						<input id="prov"  required name="prov" type="text" ng-model="signup.prov" class="form-control" placeholder="Province">
					</p> 
					<p class="form-group" > 
						<label for="postal">Postal Code</label> 
						<input id="postal"  required name="postal" type="text" ng-model="signup.postal" class="form-control" placeholder="A0A 0A0" pattern="[A-Za-z][0-9][A-Za-z] [0-9][A-Za-z][0-9]">
					</p> 
					<p class="form-group"> 
						<label for="loginEmail">Email</label> 
						<input id="loginEmail"  name="email" type="email" ng-model="signup.email"  class="form-control" placeholder="Enter email" required>  
					</p> 
					
					<p class="form-group" > 
						<label for="loginCompany">Contact Number</label> 
						<input id="loginConfirm" required name="confirm" type="tel" ng-model="signup.tel" class="form-control" placeholder="Phone number">
					</p> 
			
					<p class="form-group"> 
						<label for="loginPass">Password</label> 
						<input id="loginPass" name="password1" type="password"  ng-model="signup.p1" class="form-control" placeholder="Enter password" required> 
					</p>

					<p class="form-group"> 
						<label for="loginPass2">Confirm Password</label> 
						<input id="loginPass2" name="password2" type="password"  ng-model="signup.p2" class="form-control" placeholder="Confirm password" ui-validate=" '$value==login.p1' " ui-validate-watch=" 'login.p2' " required> 
					</p>
					
					<p> 
						<button class="btn btn-primary" ng-click="doSignup(signup)" >Submit</button> 
					<!--
						<button class="btn btn-default" ng-click="createMode = true" ng-hide="createMode">Register</button> 
						<button class="btn btn-primary" ng-cloak ng-show="createMode" ng-click="createAccount(email, pass, confirm)">Create Account</button> 
						<button class="btn btn-default" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button> 
					-->
					</p>
				</form>
				
			</div> 
			
		</div>
	</div> 
	<div class="col-md-9 hidden-sm hidden-xs login-dude"> <img src="images/fillers/Guy_with_laptop.png" style="text-align: right"> </div> 
</div>