<div>

    <h2>Profiles</h2>   
   
    <script type = "text/ng-template" id="profiles-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myProfilesLabel">Create or edit a Profiles</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                           ng-model="profiles.prof_id" readonly>
                </div>

                
                <div class="form-group">
                    <label>myattr:</label>
                    
                    <input type="text" class="form-control" name="myattr"
                           ng-model="profiles.myattr" ng-required="true"
                           />
                    <span class="error" ng-show="form.myattr.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.myattr.$error.maxlength">Must be at most  characters.</span>
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <button class="btn btn-primary btn-lg" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Profiles
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                
                <th>Name</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="profiles in profiles">
                <td>{{profiles.prof_id}}</td>
                
                <td>{{profiles.name}}</td>
                
                <td>
                    <button type="submit"
                            ng-click="update(profiles.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(profiles.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
