<div class="row container inside-container product-list"> 

    <div class="col-md-2 col-sm-3 col-xs-12"> 
        <div class="panel panel-default"> 
            <div class="panel-heading sun-search">Search Products</div> 
            <div class="panel-body"> 
                <form> 
                    <div class="form-group"> 
                        <label for="prodProfile">PROFILE #</label> 
                       
                       <select  ng-model="searchProfile" ng-options="profile.name for profile in profiles" class="form-control"> 
                            <option value="">Select Profile</option>
                           
                        </select> 
                    </div>
                   <div class="form-group"> 
                        <label for="prodHeight">PROFILE HEIGHT</label> 

                        <select ng-model="searchHeight" ng-options="height.fraction_id as height.fraction.fraction for height in heights track by height.id" class="form-control" > 
                            <option value="">Select Height </option>
                           
                        </select> 
                    </div>
                    <div class="form-group"> 
                        <label for="rabbetWidth">RABBET WIDTH </label> 
                        <select class="form-control" id="rabbetWidth"> 
                            <option value="0">Select All  </option>
                        </select> 
                    </div> 
                    <div class="form-group"> 
                        <label for="prodColour">PROFILE FINISH</label> 
                       
                    </div> 
                </form> 
            </div> 
        </div> 
    </div> 
    <div class="col-md-10 col-sm-8 col-xs-12"> 
        <ul class="products" ng-repeat=" profile in profiles | filter: searchProfile.name : true" ng-if="profile.available === 1"> 
            <li class="row"> 
                <div class="col-md-1 col-sm-1 col-xs-1"> 
                    <img ng-src="images/products/profile/{{profile.name | lowercase;}}.png"> 
                </div> 
                <div class="col-md-11 col-sm-11 col-xs-11"> 
                    
                    <ul class="products-list" > 
                        <li id="product_list" ng-repeat="product in profile.products  | filter: searchHeight.id"> 
                            <a href="sunsetApp/products/{{product.id}}" ng-if="profile.name == 'sl2' || profile.name == 'sl4' || profile.name == 'sml' ">
                                <img ng-src="images/products/small/{{profile.name | lowercase}}/{{profile.name | lowercase}}-{{product.colour_id | lowercase}}-{{product.code | lowercase}}.png"> <p> {{profile.name}}-{{product.colour_id}}-{{product.code}}</p>
                            </a>
                            <!--{{product}}<br/>-->
                            <!--<a href="#" ng-if="proflie.name === 'sl2' || proflie.name === 'sl4' || profile.name === 'sml' ">
                                <p>YO + {{profile.name}}</p>
                                <img ng-src="images/products/small/{{profile.name | l[owercase}}/{{profile.name | lowercase}}-{{product.colour.colour_code}}-{{product.code}}.png"> 
                            </a>-->
                            <a href="/products/{{product.id}}" ng-if="profile.name != 'sl2' && profile.name != 'sl4' && profile.name != 'sml' "> 
                                <img ng-src="images/products/small/{{profile.name | lowercase}}/{{profile.name | lowercase}}-{{product.colour_id}}.png"> <p>{{profile.name}}-{{product.colour_id}}-{{product.height_id}}</p>
                            </a>
                        </li> 
                    </ul> 
                </div> 
            </li> 
        </ul> 
    </div> 
</div>

