<div class="row product-details inside-container" > 

	<div class="col-md-6 col-xs-12" ng-model="product"> 
	    <span ng-repeat="product in products" ng-if="product.id == prod_id">
	    	
	   			<div class="row productInfo"> 
					<div class="col-md-12 col-xs-12"> 
						<p> 
							<span class="highlight">PRODUCTS dsds</span> 
							<b>[ {{product.profile.name}}-{{product.colour_id}} ]</b> 
						</p>
					</div> 
				</div> 
				<div class="row"> 
					<div class="col-md-12 col-xs-12"> 
						<div class="well"> 
						
							<div class="row"> 
								<div class="col-md-4 profile-img"> 
									<img ng-src="images/products/measurements/{{product.profile.name | lowercase}}.png"> 
								</div> 
								<div class="col-md-8 product-img"> 
									<img ng-src="images/products/large/{{product.profile.name | lowercase}}/{{product.profile.name | lowercase}}-{{product.colour_id}}.png"> 
								</div> 
								
							</div> 
							<div class="row details-info"> 
								<div class="col-md-4"> 
									<p>Item #:</p> 
									<p><strong>{{product.profile.name | uppercase}}</strong></p> 
								</div> 
								<div class="col-md-4"> 
									<p>Height:</p> 
									<p><strong>{{product.height.fraction}}"</strong></p> 
								</div> 
								<div class="col-md-4"> 
									<p>Price per foot</p> 
									<p><strong>{{product.list_price.toFixed(2)}}</strong></p> 
								</div> 
							</div> 
							<div class="row details-info"> 
								<div class="col-md-4"> 
									<p>Width:</p> 
									<p><strong>{{product.width}}"</strong></p> 
								</div> 
								<div class="col-md-4"> 
									<p>Rabbet:</p> 
									<p><strong>{{product.rabbet.fraction}}"</strong></p> 
								</div> 
								<div class="col-md-4"> <p>Box price:</p> 
									<p><strong>{{product.qty_price.toFixed(2)}}</strong></p> 
								</div> 
							</div> 
							<div class="row details-info"> 
								<div class="col-md-4"> 
									<p>Finish:</p> 
									<p><strong>{{product.colour.colour | uppercase}}</strong></p> 
								</div> 
								<div class="col-md-4"> 
									<p>Type:</p> 
									<p><strong>{{product.rabbet.fraction}}"</strong></p> 
								</div> 
								<div class="col-md-4"> 
									<p>Box quantity:</p> 
									<p><strong>{{product.qty}}</strong></p> 
								</div> 
							</div> 
							<div class="row details-buttons"> 
								<div class="col-md-6"> 
									<button type="button" class="btn btn-default"> 
										<span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> 
										Back 
									</button> 
								</div> 
								<div class="col-md-6"> 
									<button type="button" class="btn btn-primary" ng-click="yellOut(product)"> SEND ME A SAMPLE 
										<i class="fa fa-caret-right"></i>
									</button> 
								</div> 
							</div> 
						</div> 
					</div> 

				</div> 
				
		
		</span>
		
	</div>
	<div class="col-md-6 hidden-sm hidden-xs product-guy"> 
						<img src="images/fillers/Standing_guy.png"> 
					</div> 
</div>
